body {
  font-size: 12pt;
  background-image: url("../img/pizza.jpg");
  background-size: cover;
}
.jumbotron {
  padding-top: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px black;
}
.well {
  box-shadow: 2px 2px black;
}
#result-well {
  display: none;
}
#topping-well {
  height: 175px;
}
#toppings li {
  float: left;
  margin-left: 25px;
  padding-bottom: 20px;
  font-size: 12pt;
}
img {
  margin-bottom: 25px;
  box-shadow: 2px 2px black;
}
h1 {
  text-shadow: 2px 2px white;
}

h3 {
  text-shadow: 2px 2px white;
}
